@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Modak&family=Sniglet:wght@400;800&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-display: 'Modak', sans-serif;
	--font-bagel: 'Bagel Fat One', sans-serif;
	--font-sniglet: 'Sniglet', sans-serif;

	--color-primary-100: #8aa624;
	--color-primary-50: #dbe4c9;
	--color-secondary-100: #fea405;
	--color-tertiary: #fffff0;
	--color-custom-black: #1a1a19;

	--color-meowcha-teal: #1b5a6c;
	--color-meowcha-green: #98cd48;
	--color-meowcha-yellow: #eed32f;
	--color-meowcha-white: #fdf3e6;

	--animate-wiggle: wiggle 0.6s ease-in-out infinite;

	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(1deg);
		}
		50% {
			transform: rotate(-1deg);
		}
	}
}

@layer base {
	p,
	a,
	li,
	button {
		@apply font-sniglet;
	}
}

@layer components {
	.display-stroke {
		-webkit-text-stroke: 28px var(--color-primary-50);
		paint-order: stroke fill;
	}

	.display-stroke-md {
		-webkit-text-stroke: 20px var(--color-primary-50);
		paint-order: stroke fill;
	}

	.display-stroke-sm {
		-webkit-text-stroke: 12px var(--color-primary-50);
		paint-order: stroke fill;
	}
}
